* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav ul {
    list-style: none; 
}
nav li {
    display: inline; 
    margin-right: 20px; 
}
nav a {
    text-decoration: none; 
    font-weight: bold; 
    float: right;
    margin: 10px;
    padding: 10px;
}
nav h1{
    margin: 10px 10px 10px;
}
header{
    background-color: aquamarine;
}